.container{
    background-color: rgba(153, 149, 149, 0.854);
    padding: 24px;
    
    text-align: center;
    width: 400px;
}

.H1{
    font-size: 32px;
    color:black;
    text-align: center;
    background-color: rgb(79, 97, 111);
    padding: 10px;
    border: 1px solid rgb(16, 16, 16);
    width: 300;
}